<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CommonServlet</servlet-name>
        <servlet-class>servlet.CommonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelDeleteDervlet</servlet-name>
        <servlet-class>servlet.HotelDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaterServlet</servlet-name>
        <servlet-class>servlet.CaterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaterDeleteServlet</servlet-name>
        <servlet-class>servlet.CaterDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecorServlet</servlet-name>
        <servlet-class>servlet.DecorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecorDeleteServlet</servlet-name>
        <servlet-class>servlet.DecorDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackageServlet</servlet-name>
        <servlet-class>servlet.PackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectPackageServlet</servlet-name>
        <servlet-class>servlet.SelectPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonServlet</servlet-name>
        <url-pattern>/CommonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelDeleteDervlet</servlet-name>
        <url-pattern>/HotelDeleteDervlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaterServlet</servlet-name>
        <url-pattern>/CaterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaterDeleteServlet</servlet-name>
        <url-pattern>/CaterDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecorServlet</servlet-name>
        <url-pattern>/DecorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecorDeleteServlet</servlet-name>
        <url-pattern>/DecorDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackageServlet</servlet-name>
        <url-pattern>/PackageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectPackageServlet</servlet-name>
        <url-pattern>/SelectPackageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
